<section class="min-h-screen flex items-center justify-center bg-gradient-to-br from-secondary to-gray-900 px-4">
  <div class="bg-white p-8 rounded-2xl shadow-2xl max-w-md w-full space-y-6 animate-fade-in">
    <div class="text-center">
      <img src="assets/images/prueba3.png" alt="Logo" class="mx-auto w-full h-64 mb-4">
      <h2 class="text-3xl font-bold text-gray-800">¡Bienvenido de nuevo! 👋</h2>
      <p class="text-gray-500 text-sm">Inicia sesión para continuar</p>
    </div>

    <form class="space-y-4" (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div>
        <label for="email" class="block text-gray-700 font-medium">Correo electrónico</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="admin@gmail.com"
               class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary focus:border-transparent transition duration-300" />
      </div>

      <div>
        <label for="password" class="block text-gray-700 font-medium">Contraseña</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="••••••••"
               class="w-full px-4 py-2 mt-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary focus:border-transparent transition duration-300" />
      </div>

      <button type="submit"
              class="w-full bg-secondary text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-300 font-semibold">
        Iniciar Sesión
      </button>
      <div *ngIf="error" class="text-red-600 text-center mt-2">{{ error }}</div>
    </form>
  </div>
</section>
