.logo{
  width: 100%;
  height: 80%;
  margin: 0 auto;
  display: block;
}
.gradient {
  background: radial-gradient(circle,
    rgba(0, 0, 0, 0.9) 80%,
    rgba(255, 255, 255, 0) 100%);
}
