.logo{
  width: 100%;
  height: 80%;
  margin: 0 auto;
  display: block;
}
.gradient {
  background: radial-gradient(circle,
    rgba(0, 0, 0, 0.9) 80%,
    rgba(255, 255, 255, 0) 100%);
}
.selection-bg-secondary{
  background: radial-gradient(circle,
    rgba(0, 0, 0, 0.9) 80%,
    rgba(255, 255, 255, 0) 100%);
}
.card1{
  background: radial-gradient(circle,
    rgba(0, 0, 0, 0.9) 80%,
    rgba(255, 255, 255, 0) 100%);
}
.card2{
  background: radial-gradient(circle,
    rgba(0, 0, 0, 0.9) 80%,
    rgba(255, 255, 255, 0) 100%);
}
.list_motos {
  display: flex;
  flex-wrap: wrap; /* Por si se llenan y quieres que bajen ordenadamente */
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.card_moto {
  flex: 0 0 320px;
}

